@if (cargandoContacto) {
  <p>Cargando contacto...</p>
} @else if (!contacto) {
  <p>No se encontró el contacto</p>
} @else {
  <div class="contact-card">
    <!-- si NO está editando -->
    @if (!editando) {
      <h1>{{ contacto!.firstName }} {{ contacto!.lastName }}</h1>
      <p>Email: {{ contacto.email }}</p>
      <p>Teléfono: {{ contacto.number }}</p>

      @if (contacto.isFavorite) {
        <p>⭐</p>
        <button (click)="toggleFavorite()">Desmarcar favorito</button>
      } @else {
        <button (click)="toggleFavorite()">Marcar como favorito</button>
      }

      <div class="buttons">
        <button (click)="editando = true">Editar</button>
        <button (click)="deleteContact()">Eliminar</button>
      </div>

    } @else {
      <!-- MODO EDICIÓN -->
      <h1>Editar contacto</h1>
      <form (ngSubmit)="guardarCambios()" #form="ngForm">
        <label>
          Nombre:
          <input
            [(ngModel)]="contacto.firstName"
            name="firstName"
            required
          />
        </label>

        <label>
          Apellido:
          <input
            [(ngModel)]="contacto.lastName"
            name="lastName"
            required
          />
        </label>

        <label>
          Email:
          <input
            [(ngModel)]="contacto.email"
            name="email"
            type="email"
          />
        </label>

        <label>
          Teléfono:
          <input
            [(ngModel)]="contacto.number"
            name="number"
          />
        </label>

        <div class="buttons">
          <button type="submit">Guardar</button>
          <button type="button" (click)="cancelarEdicion()">Cancelar</button>
        </div>
      </form>
    }
  </div>
}
